# Secrets
*.json
!package.json
.env

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Airflow
airflow_home/
*.db
*.log
logs/

# dbt
target/
dbt_packages/
logs/
.user.yml

# Système
.DS_Store
docs/__pycache__/
docs/diagramme/frames/
